@font-face
    font-family: SuisseIntlMono 
    src: url('./fonts/SuisseIntlMono-Regular-WebTrial.ttf')
@font-face
    font-family: SuisseIntlMono
    src: url('./fonts/SuisseIntlMono-Regular-WebTrial.ttf')
@font-face
    font-family: Swiss-Thin
    src: url("../../../fonts/SuisseIntlMono-Thin-WebTrial.ttf")

*
  font-family: 'Swiss-Regular'

body
  background-color: $primary-white
  user-select: none
img
  pointer-events: none
h1
  font-size: 140px
  line-height: 150p
  font-family: 'Swiss-Thin'
h2
  font-size: 60px
  line-height: 65px
  font-family: 'Swiss-Regular'
h3
  font-size: 30px
  line-height: 35px
  font-family: 'Swiss-Regular'
p,
button,
a
  font-size: 20px
  line-height: 24px
  text-decoration: none
  font-family: 'Swiss-Regular'
a:focus-visible
  outline: 4px solid $interactive-blue
  border-radius: $main-outer-border-radius-focus
  outline-offset: 2px
